@{
    ViewData["Title"] = "sali's site";
}

<div class="text-center">
    <img style="border-radius: 50%;" src="@ViewData["user_photo"]" alt="Avatar" width="150" height="150">
    <h3>@ViewData["user_title"]</h3>
    <p style="color:gray">@ViewData["username"]</p>
</div>

<div class="text-center">
    <a href="@ViewData["twitter_page"]" target="_blank"><i class="fa fa-twitter" style="font-size:36px;"></i></a>
    <a href="@ViewData["youtube_url"]" target="_blank"><i class="fa fa-youtube" style="font-size:36px;"></i></a>
    <a href="@ViewData["discord_url"]" target="_blank"><i class="fa fa-discord" style="font-size:36px;"></i></a>
    <a href="@ViewData["github_url"]" target="_blank"><i class="fa fa-github" style="font-size:36px;"></i></a>
    <a href="@ViewData["email"]"><i class="fa fa-envelope" style="font-size:36px;"></i></a>
</div>